@import "tailwindcss";

:root {
  --color-primary: #2563eb;
  --color-secondary: #1e3a8a;
  --color-accent: #facc15;
  --color-bg: #f8fafc;
  --color-text: #1e293b;
  --color-muted: #64748b;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

